.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

input {
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
}

.timer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2{
  color: white;
}
.timer-content input {
  margin-bottom: 20px;
}
.all-buttons{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

}
.all-buttons button {
  padding: 10px 20px;
  font-size: 16px;
}

.time-reamin {
  color: white;
  margin-top: 20px;
  font-size: 2rem;
}
